@{
    ViewBag.Title = "Home";
}

<div class="construction">
	<i class="fas fa-biohazard"></i> Please forgive the condition of this site. I just started putting it together on 2018.12.23 so it will take a few more days to get it finished. Thanks!
</div>
<div class="main-image">
	<img src="images/tom-mountain.jpg" />
</div>

<div class="main-welcome">
	<h1>Welcome!</h1>
	<p>I'm happy you came to visit. I'm a software engineer so it only seems fitting that I should build a web site that will give you the details of my career. I'll even share some of my hobbies that I'm passionate about.</p>
	<p>I hope you enjoy your visit and find what you're looking for.</p>
</div>